.border-page {
  border-left: 25px solid #ff6b6b;
  border-right: 15px solid #ff6b6b;
}

::ng-deep .p-menubar {
  width: 85% !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  background: none !important;
  border: none !important;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  position:static;
  top: 8px;
}

::ng-deep .p-menubar-item-label {
  color: #3e3e3e;
}

::ng-deep .p-menubar-item:not(.p-disabled) > .p-menubar-item-content {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px solid white;
}

::ng-deep .p-menubar-item:not(.p-disabled) > .p-menubar-item-content:hover {
  border-bottom: 2px solid #ff6b6b;
  background-color: white !important;
  border-radius: 0px;
  color: #ff6b6b !important;
}

::ng-deep .p-menubar-item-label:hover {
  color: #ff6b6b !important;
  background-color: white !important;
}

::ng-deep .p-menubar-root-list > .p-menubar-item > .p-menubar-item-content > .p-menubar-item-link {
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: white !important;
}

::ng-deep .p-menubar-item.p-focus > .p-menubar-item-content {
  color: #ff6b6b !important;
  border-bottom: 2px solid #ff6b6b;
  background: none;
  border-radius: 0px;
}

.backg {
  background-color: white;
}

img {
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 10;
}

img:hover {
  transform: scale(1.02) !important;
}
