<div class="container mb-5">
  <div class="h-post flex flex-row gap-2">
    <div class="flex align-items-center justify-content-center">
      <img src="https://imgur.com/ryhUuwt.jpg" height="35" width="35" class="product-image" />
    </div>
    <div class="flex align-items-center justify-content-center user">Usuário</div>
    <div class="flex align-items-center justify-content-center">
      <p-button icon="pi pi-plus" class="bt-follow small-icon" label="Seguir"></p-button>
    </div>
  </div>
  <div class="cont-post">
    Titulo | data
    conteudo post
    <hr>
    tags
  </div>
  <div class="cont-post small-icon">
    <!--Interações (like, comentario, salvar, etc)-->
  </div>
</div>