.container {
  border: 1px solid #FF9D9D;
  border-radius: 10px;
}

/*---------------------------------------------------------------------------------------------*/

/*BOTÕES*/

/*btn seguir*/
::ng-deep .bt-follow .p-button {
  font-size: 10px !important;
  width: 65px !important;
  height: 20px !important;
  border-radius: 50px !important;
  padding-left: 3px !important;
  padding-right: 4px !important;
  background-color: rgb(218, 218, 218);
  border: none !important;
  color: rgb(85, 85, 85) !important;
  padding: 0px !important;
  margin: 0px !important;
  padding-right: 1.5px !important;
}

::ng-deep .bt-follow .p-button:not(:disabled):hover {
  background-color: rgb(190, 190, 190) !important;
}

::ng-deep .bt-follow2 .p-button {
  font-size: 10px !important;
  width: 75px !important;
  height: 20px !important;
  border-radius: 50px !important;
  padding-left: 3px !important;
  padding-right: 4px !important;
  background-color: white;
  border: 1px solid #27a243 !important;
  color: #27a243 !important;
  padding: 0px !important;
  margin: 0px !important;
  padding-right: 1.5px !important;
}

::ng-deep .bt-follow2 .p-button:not(:disabled):hover {
  background-color: #27a24330 !important;
}

/*icon do btn de seguir*/
::ng-deep .small .pi {
  font-size: 10px;
  position: relative !important;
  left: 2px !important;
  top: 0px !important;
}

/*------------------------------------------------------------------------------------*/

/*CONTEUDOS DO HEADER*/

/*nome de usuário*/
.user {
  color: #ff6b6b;
  font-weight: 600;
  font-size: 18px;
}

/*foto user*/
.icon-image {
  border-radius: 5px !important;
  object-fit: cover;
  height: 35px;
  width: 35px;
}

/*3 pontinhos menu*/
::ng-deep .menu-cont .p-button {
  background: none !important;
  color: #616161 !important;
  border: none !important;
}

::ng-deep .menu-cont .p-button:not(:disabled):hover {
  background-color: none !important;
  color: #2b2b2b !important;
}

::ng-deep .menu-pontos .p-menu {
  width: 250px !important;
  position: absolute !important;
  left: 680px !important;
  border: none !important;
  border-top: 2px solid #ffacac !important;
}

::ng-deep .menu-pontos .p-menu-submenu-label {
  display: none !important;
  height: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

/*click do header de usuário*/
.click:hover {
  background-color: #ffefef;
  border-radius: 10px 10px 0px 0px;
}

/*CONTEUDOS DO POST -------------------*/

.cont-post {
  border-top: 1px solid #FF9D9D;
  padding: 20px;
  width: 574px;
}

.cont-post .cont {
  word-wrap: break-word;
  max-height: 450px;
  overflow-y: auto;
  max-width: 100%;
}

.date {
  font-size: 12px;
  color: #9e9e9e;
}

.title {
  font-size: 20px;
  color: #FF9D9D;
}

.conteudo {
  font-size: 15px;
}

/*flag da comunidade*/
.comm {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  color:#ff8a8a;
  font-weight: 700;
  border: 2px solid #FF9D9D;
  border-radius: 50px;
  background-color: white;
}

.comm:hover {
  background-color: #FF9D9D50;
}

/*linha de separações*/
.line {
  border-top: 1px solid #c2c2c2;
}

/*-------------------------------------------------------------------------------------------*/

/*BOTÕES DE AÇÕES primeng favorito, comentar, salvar, partilhar, editar e excluir*/
::ng-deep .icon-action .pi {
  font-size: 16px !important;
  position: relative;
  left: 0px !important;
}

/*favoritar e excluir*/
::ng-deep .fav .pi,
::ng-deep .trash .pi {
  color: #dc3545 !important;
}

::ng-deep .bt-fav .p-button,
::ng-deep .bt-trash .p-button {
  color: #dc3545 !important;
  background-color: white !important;
  border-radius: 50px !important;
  border: 2px solid #dc3545;
}

::ng-deep .bt-trash .p-button {
  color: #dc3545 !important;
  background-color: white !important;
  border-radius: 50px !important;
  border: 2px solid #dc3545;
  padding: 10px !important;
}

::ng-deep .bt-fav .p-button:not(:disabled):hover,
::ng-deep .bt-trash .p-button:not(:disabled):hover {
  background-color: #dc354530 !important;
  border: 2px solid #dc3545;
}

::ng-deep .bt-fav2 .p-button:disabled {
  border-radius: 50px !important;
  color: #dc3545 !important;
  background-color: #dc354530 !important;
  border: 2px solid #dc3545 !important;
  opacity: 100% !important;
}

/*comentar*/
::ng-deep .comment .pi {
  color: #27a243 !important;
}

::ng-deep .bt-comment .p-button {
  color: #27a243 !important;
  background-color: white !important;
  border-radius: 50px !important;
  border: 2px solid #27a243;
}

::ng-deep .bt-comment .p-button:not(:disabled):hover {
  background-color: #27a24330 !important;
  border: 2px solid #27a243;
}

/*salvar*/
::ng-deep .save .pi {
  color: #ffc107 !important;
}

::ng-deep .bt-save .p-button {
  color: #ffc107 !important;
  background-color: white !important;
  border-radius: 50px !important;
  border: 2px solid #ffc107;
  padding: 10px !important;
}

::ng-deep .bt-save .p-button:not(:disabled):hover {
  background-color: #ffc10730 !important;
  border: 2px solid #ffc107;
}

/*partilhar*/
::ng-deep .share .pi {
  color: #007bff !important;
}

::ng-deep .bt-share .p-button {
  color: #007bff !important;
  background-color: white !important;
  border-radius: 50px !important;
  border: 2px solid #007bff;
  padding: 10px !important;
}

::ng-deep .bt-share .p-button:not(:disabled):hover {
  background-color: #007bff30 !important;
  border: 2px solid #007bff;
}

/*editar*/
::ng-deep .pencil .pi {
  color: #616161 !important;
}

::ng-deep .bt-pencil .p-button {
  color: #616161 !important;
  background-color: white !important;
  border-radius: 50px !important;
  border: 2px solid #616161;
  padding: 10px !important;
}

::ng-deep .bt-pencil .p-button:not(:disabled):hover {
  background-color: #61616130 !important;
  border: 2px solid #616161;
}

/*---------------------------------------------------------------------------------*/