<!--COMPONENTE PARTILHADO MODELO DE POSTAGEM (utilizado em vários lugares)-->

<div class="container mb-5">

  <!--header-->
  <div class="flex flex-row p-3 gap-2 cursor-pointer click" (click)="goToUserProfile()">
    <div class="flex align-items-center justify-content-center p-0 m-0">
      <img [src]="post.profile_pic || '/imgs/ai.png'" class="icon-image" />
    </div>
    <div class="flex align-items-center justify-content-center user">
      <div>{{ post.username }}</div>
    </div>
    <app-follow-button *ngIf="!isDraft && !isProfile && !isOwnPost" class="aa" [targetUserId]="post.user_id"
      (click)="$event.stopPropagation()"></app-follow-button>
    <div *ngIf="!isDraft && !isProfile && !isOwnPost" class="w-9 flex align-items-center justify-content-end"
      (click)="$event.stopPropagation()">
      <p-toast />
      <p-confirmDialog></p-confirmDialog>
      <p-menu #menu [model]="items" [popup]="true" class="menu-pontos" />
      <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" class="menu-cont" />
    </div>
  </div>

  <!--cont-->
  <div class="cont-post" (click)="goToPostDetail($event)">
    <div class="flex flex-row w-12 gap-2">
      <div class="flex align-items-center title w-11">{{ post.title }}</div>
      <div class="flex align-items-center justify-content-center date">
        {{ post.created_at | date: 'dd/MM/yy' }}
      </div>
    </div>
    <div class="conteudo cont mt-3" [innerHTML]="post.content"></div>

    <!--comunidade-->
    <span (click)="goToCommunity(post.community, $event)" style="cursor: pointer;">
      <button class="comm my-2">{{ post.community }}</button>
    </span>

    <!--tags-->
    <div class="line mt-3 pt-3" *ngIf="tags?.length">
      <ng-container *ngFor="let tag of tags">
        <span (click)="goToTag(tag, $event)" style="cursor: pointer;">
          <p-tag [value]="'#' + tag" class="mb-2 mr-2"></p-tag>
        </span>
      </ng-container>
    </div>
  </div>

  <!--ações-->
  <div class="cont-post">
    <div class="flex flex-row w-full gap-2 aling-items-center">

      <div *ngIf="!isDraft" class="w-6 flex justify-content-start gap-2">

        <!--curtir usuários-->
        <p-button *ngIf="post.user_id !== userId" [icon]="isFavorite ? 'pi pi-heart-fill' : 'pi pi-heart'"
          [label]="likes.toString()" class="icon-action fav bt-fav" (onClick)="toggleFavorite()" />

        <!--curtir user logado-->
        <p-button *ngIf="post.user_id === userId" icon="pi pi-heart-fill" [disabled]="true" [label]="likes.toString()"
          class="icon-action fav bt-fav2" styleClass="bt-fav2" />

        <!--comentar-->
        <p-button [icon]="isComment ? 'pi pi-comment-fill' : 'pi pi-comment'" [label]="comments.toString()"
          class="icon-action comment bt-comment" (click)="goToPostDetail($event)" />

        <!--salvar-->
        <p-button *ngIf="post.user_id !== userId" [icon]="isSave ? 'pi pi-bookmark-fill' : 'pi pi-bookmark'"
          class="icon-action save bt-save" (onClick)="toggleSave()" />

        <!--partilhar-->
        <p-button icon="pi pi-share-alt" class="icon-action share bt-share" (click)="copyPostLink($event)" />
      </div>

      <!--editar/excluir-->
      <div *ngIf="isDraft || isProfile" class="w-12 flex justify-content-end gap-2">
        <p-button icon="pi pi-pencil" class="icon-action pencil bt-pencil" (click)="onEditClick()" />
        <p-button icon="pi pi-trash" class="icon-action trashh bt-trashh" (click)="onDeleteClick()" />
      </div>
    </div>
  </div>
</div>
