<app-menu-bar></app-menu-bar>
<div class="border-page">
  <div class="grid flex mx-4 p-7 h-full justify-content-center">

    <div class="col-5 my-8 ml-8">
      <h1 class="mb-0">Bem-vindas!</h1><br>
      <div class="line"></div>

      <p class="welcome mt-4 mb-6">
        O Heralert surge como um espaço online acolhedor e vibrante dedicado às mulheres. Com funcionalidades como posts informativos e interagir através de chats e comunidades. As diversas comunidades temáticas oferecem um ambiente seguro para troca de experiências, apoio mútuo e crescimento pessoal!</p>
        <p-button label="Comece já!" class="btn-animated" (click)="navigateToSignIn()"></p-button>
    </div>

    <div class="col flex align-items-center justify-content-center ps">
      <img class="animated-image" src="/imgs/logo_grande2.png">
    </div>
  </div>
</div>
<app-footer></app-footer>
