::ng-deep .edit-profile .p-button {
  background-color: transparent !important;
  padding: 0px !important;
  color: #F94C4C !important;
  font-size: 10px !important;
  border: none !important;
}

::ng-deep .edit-cog .pi {
  color: #F94C4C !important;
  font-size: 13px !important;
}

::ng-deep .edit-profile .p-button:not(:disabled):hover {
  color: #d63030 !important;
}

.user {
  font-size: 20px;
  font-weight: 600;
}

.info {
  font-size: 12px;
}

.number {
  font-size: 12px;
  font-weight: 600;
  color: black;
}

::ng-deep .edit-at .pi {
  font-size: 11px !important;
  padding-right: 1px !important;
  position: relative;
  top: 1px;
}

::ng-deep .edit-cicle .pi {
  font-size: 4px !important;
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.bio {
  font-size: 12px;
  width: 520px !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.cover-image {
  height: 150px;
  object-fit: cover;
  width: 574px;
}

::ng-deep html,
body {
  overflow-x: hidden;
}

.icon-image {
  border-radius: 100%;
  border: 4px solid #ffffff;
  width: 80px;
  height: 80px;
  object-fit: cover;
  position: absolute;
  top: 120px;
  left: 395px;
}

::ng-deep .menu-contt .p-button {
  background: none !important;
  color: #616161 !important;
  border: none !important;
  position:absolute;
  left: 920px;
}

::ng-deep .menu-contt .p-button:not(:disabled):hover {
  background-color: white !important;
  color: #2b2b2b !important;
}

::ng-deep .menu-pontos .p-menu {
  width: 250px !important;
  position: absolute !important;
  left: 680px !important;
  border: none !important;
  border-right: 2px solid #ffacac !important;
}

::ng-deep .menu-pontos .p-menu-submenu-label {
  display: none !important;
  height: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}
