.container {
  width: 100% !important;
}

.h-tag {
  font-size: 24px;
  border-left: 2px solid #ff6b6b;
  padding-left: 10px;
}

.line {
  border-top: 1px solid #e2e2e2;
}

/*formatação tabela*/
table {
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #dbdbdb;
  border-left: none;
  border-right: 1px solid #dbdbdb;
  padding: 10px;
  text-align: center;
  color: #616161;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

/*remove bordas esquerda e direita das tabelas -------------------------------*/
.evaluation-table td:last-child {
  border-right: none;
}

.evaluation-table td:first-child {
  border-left: none;
}

table tbody tr:nth-child(even):hover,
table tbody tr:nth-child(odd):hover {
  background-color: #ff909025;
}

.dn:hover {
  background-color: #ff909040;
}

th {
  color: rgb(255, 255, 255);
  background-color: #ff9090;
  font-weight: 500;
  padding: 6px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 14px;
}

table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}
table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.table-container {
  position: relative;
}
