.pp-atual {
  border-left: 2px solid #ff6b6b;
  padding-left: 10px;
}

.pp1 {
  font-weight: 600;
}

.pp2 {
  color: #a0a0a0;
}

/*btns de cancelar/atualizar palavra-passe*/

::ng-deep .my-att-button {
  background-color: #ff7979 !important;
  color: white !important;
  border: none !important;
  width: 100px !important;
  font-size: 14px !important;
}

::ng-deep .my-att-button:hover {
  background-color: #ff6969 !important;
}

::ng-deep .my-cancel-button {
  background-color: #d4d4d4 !important;
  color: rgb(90, 90, 90) !important;
  border: none !important;
  width: 100px !important;
  font-size: 14px !important;
}

::ng-deep .my-cancel-button:hover {
  background-color: #b8b8b8 !important;
}
