/*FORMATAÇÃO PÁGINA: SIDEBAR-LEFT | CONTENT | SIDEBAR-RIGHT e mais*/

.container {
  display: flex;
  width: 100%;
  position: relative;
}

.line-fy {
  height: 10px;
  background-color: #ff9d9d;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.sidebar {
  width: 350px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  border-top: 10px solid #ff9d9d;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.content {
  flex: 1;
  margin: 0 350px;
  background-color: rgb(255, 255, 255);
}

::ng-deep body {
  margin: 0px;
  padding: 0px;
}

/*conteúdo pag limites*/
.div-ww {
  width: 574px !important;
}

/*--------------------------------------------------------------------------*/

/*CSS ITENS ENVOLVENDO USUÁRIO*/

/*icon de perfil*/
.icon-image {
  border-radius: 5px !important;
  object-fit: cover;
  height: 30px;
  width: 30px;
  border: 2px solid #ff6b6b !important;
}

.icon-image:hover {
  filter: contrast(180%);
  filter: saturate(170%);
}

/*user*/
.user {
  color: #ff6b6b;
  font-weight: 600;
  font-size: 16px;
}

.user:hover {
  color: #ce5252;
}

/*flag de criado*/
.criador {
  background-color: #ff9898;
  color: white;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 10px;
}

/*menu 3 pontinho primeng*/
::ng-deep .menu-cont .p-button {
  background: none !important;
  color: #616161 !important;
  border: none !important;
}

::ng-deep .menu-cont .p-button:not(:disabled):hover {
  background-color: none !important;
  color: #2b2b2b !important;
}

::ng-deep .menu-pontos .p-menu {
  width: 250px !important;
  position: absolute !important;
  left: 680px !important;
  border: none !important;
  border-top: 2px solid #ffacac !important;
}

::ng-deep .menu-pontos .p-menu-submenu-label {
  display: none !important;
  height: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

/*--------------------------------------------------------------------------*/

/*BOTÕES*/

/*btn de enviar comentário*/
::ng-deep .btn .p-button {
  background-color: #ff6b6b !important;
  color: white !important;
  border: none !important;
  padding: 10px !important;
}

/*btn para deletar comentário*/
::ng-deep .delete-comment .p-button {
  border: none !important;
  background-color: transparent !important;
  padding: 0px !important;
  color: #dc3545 !important;
  font-size: 12px !important;
}

/*btn para responder um comentário*/
.btn-responder {
  color: #ff6e6e;
  font-size: 15px;
}

/*--------------------------------------------------------------------------*/

/*ITENS PARA AÇÕES DE COMENTAR*/

/*input de responder um comentário*/
.i-resposta {
  background-color: white !important;
  border: 1px solid #ffd2d2 !important;
  width: 100% !important;
  color: #525252 !important;
  font-size: 14px !important;
}

/*div conteúdo do comentário*/
.cont-comment {
  width: 550px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  overflow-x: hidden;
  font-size: 16px;
}

/*data comentário*/
.date {
  font-size: 12px;
  color: #919191;
}

.line {
  border-top: 1px solid #c2c2c2;
}

.arr {
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #dbdbdb;
}