<!--EXIBE UM POST SELECIONADO POR ID E SEUS COMENTÁRIOS-->

<div class="container">
  <div class="line-fy"></div>

  <p-confirmDialog></p-confirmDialog>
  <p-toast appendTo="body"></p-toast>

  <div class="content px-4 pt-4">
    <div class="div-ww mb-6">

      <!--post clicado-->
      <app-post [post]="post" [tags]="tags" [userId]="currentUserId" *ngIf="post"></app-post>

      <!--contagem de comentários-->
      <h3 class="mb-4 line pt-4" style="cursor: default;">{{ comments.length }} Comentário{{ comments.length === 1 ? '' : 's' }}</h3>

      <ng-template #noComments>
        <p class="text-gray-500" style="cursor: default;">Nenhum comentário ainda.</p>
      </ng-template>

      <!--input para comentar-->
      <div class="flex flex-row w-full">
        <div class="flex w-11 justify-content-start aling-items-center aling-content-center">
          <p-iconfield class="w-full">
            <p-inputicon styleClass="pi pi-comment"></p-inputicon>
            <input type="text" pInputText placeholder="Comentar..." [(ngModel)]="newComment" maxlength="360">
          </p-iconfield>
        </div>
        <div class="flex w-1 justify-content-end aling-items-center aling-content-center">
          <p-button icon="pi pi-send" class="btn" (click)="addComment()" />
        </div>
      </div>

      <!--comentários-->
      <div class="pt-2">

        <ng-container *ngIf="commentTree.length > 0; else noComments">
          <ng-container *ngTemplateOutlet="renderComments; context: { comments: commentTree, level: 0 }"></ng-container>
        </ng-container>

        <!--fetch nos comentários-->
        <ng-template #renderComments let-comments="comments">
          <div *ngFor="let comment of comments" [style.margin-left.px]="comment.parent_id ? 24 : 0" class="my-3">

            <div class="arr">
              <!--header/user-->
              <div class="flex flex-row align-items-center mb-3 gap-2 cursor-pointer"
                (click)="goToUserProfile(comment.user_id, comment.username)">
                <div class="flex justify-content-start">
                  <img [src]="comment.profile_pic || '/imgs/ai.png'" class="icon-image">
                </div>
                <div class="flex user justify-content-start">{{ comment.username }}</div>
                
                <!--icon criadora (role 2) ou administradora (role 1)-->
                <div *ngIf="comment.role === 2" class="flex crown-creator crown1" pTooltip="Criadora"
                  tooltipPosition="right">
                  <div><i class="pi pi-crown"></i></div>
                </div>
                <div *ngIf="comment.role === 1" class="flex crown-adm crown2" pTooltip="Administradora"
                  tooltipPosition="right">
                  <div><i class="pi pi-crown"></i></div>
                </div>
                <div class="flex justify-content-start w-3">
                  <div *ngIf="comment.user_id === post.user_id" class="ml-2 criador">OP</div>
                </div>
                <div *ngIf="comment.user_id !== currentUserId"
                  class="w-full flex align-items-center justify-content-end" (click)="$event.stopPropagation()">
                  <p-menu #menu [model]="items" [popup]="true" class="menu-pontos" />
                  <p-button (click)="openReportCommentMenu($event, comment, menu)" icon="pi pi-ellipsis-v" class="menu-cont" />
                </div>
              </div>

              <!--CONTEÚDO------------------>

              <div class="cont-comment pr-5" [innerHTML]="comment.content | mention | safeHtml" (click)="handleMentionClick($event)"></div>
              <!--vai ler o conteúdo do coentário em innerHTML para o pipe de mention (@) funcionar-->

              <div class="flex flex-row w-full mt-2">
                <div class="date flex justify-content-start w-6 mb-2" style="cursor: default;">{{ comment.created_at | date: 'dd/MM/yy' }}</div>

                <!--opção deletar comentário-->
                <div *ngIf="comment.user_id === currentUserId" class="flex w-6 justify-content-end">
                  <p-button icon="pi pi-trash" class="delete-comment" (click)="confirmDeleteComment(comment.id)"></p-button>
                </div>
              </div>

              <!--btn/input de responder comentário já existente-->
              <div class="mt-1">
                <input type="text" pInputText *ngIf="replyToCommentId === comment.id"
                  [(ngModel)]="newCommentMap[comment.id]" (keydown.enter)="addComment()" placeholder="Responder"
                  class="i-resposta" maxlength="360" />
                <a *ngIf="replyToCommentId !== comment.id" class="btn-responder cursor-pointer"
                  (click)="startReply(comment)">Responder</a>
              </div>
            </div>

            <!--carrega respostas de comentários-->
            <ng-container *ngIf="comment.children?.length > 0">
              <ng-container *ngTemplateOutlet="renderComments; context: { comments: comment.children }"></ng-container>
            </ng-container>

          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="showCommentReportModal" modal [header]="'Denunciar Comentário'" [closable]="false"
  [style]="{ width: '50vw' }">
  <app-reporting-comment *ngIf="selectedCommentToReport && post" [comment]="selectedCommentToReport"
    [post]="post"></app-reporting-comment>

  <ng-template pTemplate="footer">
    <p-button label="Cancelar" class="bt-post2" (click)="closeReportingCommentModal()"></p-button>
    <p-button label="Enviar" class="bt-post" pRipple (click)="submitCommentReportForm()"
      [disabled]="!isCommentReportFormValid()"></p-button>
  </ng-template>
</p-dialog>