<!--COMPONENTE PARA ATT EMAIL-->

<p-toast></p-toast>

<!--steps-->
<div class="mt-5">
  <p-steps [model]="items" [readonly]="true" [activeIndex]="activeStep" />
</div>

<!--step 1: atualização do e-mail-->
<div [hidden]="activeStep !== 0" class="px-8">

  <!--título step-->
  <div class="mb-4 -mt-2 title-step">Atualização do e-mail</div>

  <!--input-->
  <p-iconfield class="mt-4 mb-b">
    <p-inputicon styleClass="pi pi-envelope"></p-inputicon>
    <input type="email" [ngModelOptions]="{ standalone: true }" pInputText placeholder="Novo e-mail" [(ngModel)]="email" (ngModelChange)="validateEmail()" required class="w-full" />
  </p-iconfield>
  <!--mensagem de erros-->
  <p-message *ngIf="emailError" severity="error" variant="simple" size="small">E-mail inválido.</p-message>
  <p-message *ngIf="emailAlreadyUsed" severity="error" variant="simple" size="small">E-mail já em uso.</p-message>

  <!--btn de cancelar e de "próximo" (que inicializa a verificação)-->
  <div class="mt-5 flex justify-content-end gap-2">
    <button pButton label="Cancelar" class="my-cancel-button" (click)="onCancel()"></button>
    <button pButton label="Próximo" class="my-next-button" (click)="initiateEmailUpdateVerification()" [disabled]="emailError || emailAlreadyUsed || email === user.email || isSubmitting"></button>
  </div>
</div>

<!--step 2: verificação de email-->
<app-confirmation-email [hidden]="activeStep !== 1" #confirmationEmailComponent [email]="newEmailToVerify" (submitVerification)="onSubmitVerification($event)" (goBack)="goToPreviousStep()" (resendCode)="resendVerificationCode()"></app-confirmation-email>

<div class="mt-5"></div>
