/*para formatação da página ----------------------------*/
.container {
  display: flex;
  width: 100%;
  position: relative;
}

.sidebar {
  width: 350px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  border-top: 10px solid #ff9d9d;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.content {
  flex: 1;
  margin: 0 350px;
  background-color: rgb(255, 255, 255);
}

::ng-deep body {
  margin: 0px;
  padding: 0px;
}


/*linha topo componente*/
.line-fy {
  height: 10px;
  background-color: #ff9d9d;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/*linha para separação*/
.line2 {
  border-top: 1px solid #e2e2e2;
}

::ng-deep .p-toast-message-icon {
  position: relative;
  top: 3px;
}

/*div que contém as imagens*/
.div-ww {
  width: 574px !important;
}

/*imagens da comunidade*/
.com-image {
  border-radius: 5px;
}

.com-image:hover {
  filter: contrast(120%);
  filter: saturate(120%);
  transform: scale(1.01);
}

/*header comunidade*/
.h-comunidade {
  font-size: 24px;
  border-left: 2px solid #ff6b6b;
  padding-left: 10px;
}

/*para colorações de texto no header*/
.ha1 {
  color: #ff6b6b;
}

.ha2 {
  color: #ff8e8e;
}
