<div class="container">
  <div class="line-fy"></div>

  <div>
    <div class="content px-4 pt-2">
      <div class="div-ww">

        <!--header-->
        <div class="h-comunidade flex flex-row my-2 h-2rem align-content-center align-items-center" style="cursor: default;">
          <div class="flex">Comunidades</div>
          <div class="ml-2 ha1 flex">her</div>
          <div class="ha2 flex">alert</div>
        </div>

        <!--banners das comunidades que encaminham para elas-->
        <div class="line2 my-2" style="cursor: pointer;">
          <div (click)="navigateToAG()"><img src="/imgs/b5.png" class="com-image mt-3 mb-4" /></div>
          <div (click)="navigateToAIF()"><img src="/imgs/b1.png" class="com-image mb-4" /></div>
          <div (click)="navigateToDA()"><img src="/imgs/b2.png" class="com-image mb-4" /></div>
          <div (click)="navigateToRL()"><img src="/imgs/b3.png" class="com-image mb-4" /></div>
          <div (click)="navigateToAF()"><img src="/imgs/b4.png" class="com-image mb-5" /></div>
        </div>
      </div>
    </div>
  </div>
