<!--COMPONETE QUE EXIBE DIVISÃO/SIDEBAR DIREITA DA APP (chat)-->

<!--para abertura de modal-->
<p-toast />
<p-confirmdialog />

<div class="container h-screen">

  <!--título-->
  <div class="container-chat -mt-3" style="cursor: default;">
    <h1 class="">Chat</h1>
    <div class="line"></div>
  </div>

  <div class="w-12">
    <!--tabela de usuários que têm chat-->
    <p-table #dt2 [value]="users" class="scrollable-table table-heigh w-full" [ngStyle]="{'max-height': tableHeight}">

      <!--input de pesquisa por nome/usuário-->
      <ng-template #caption>
        <div class="w-full mx-0 px-0">
          <p-iconfield iconPosition="left">
            <p-inputicon><i class="pi pi-search"></i></p-inputicon>
            <input pInputText type="text" (input)="filterByNameOrUsername($event)" placeholder="Pesquisar usuário" />
          </p-iconfield>
        </div>
      </ng-template>

      <ng-template pTemplate="body" let-user let-i="rowIndex">
        <tr (click)="onRowClick(user)" [pContextMenuRow]="user" class="click">

          <!--foto usuário-->
          <td class="w-2">
            <img [src]="user.profile_pic || '/imgs/ai.png'" class="user-image" />
          </td>

          <!--nome e nome de usuário-->
          <td>
            <div class="flex flex-column justify-content-start">
              <div class="flex flex-row gap-1">
                <div class="name2 flex">{{ user.name | truncateWords: 15 }}</div>

                <!--icon criadora (role 2) ou administradora (role 1)-->
                <div *ngIf="user.role === 2" class="crown-creator crown1" pTooltip="Criadora" tooltipPosition="right">
                  <div><i class="pi pi-crown"></i></div>
                </div>
                <div *ngIf="user.role === 1" class="crown-adm crown2" pTooltip="Administradora" tooltipPosition="right">
                  <div><i class="pi pi-crown"></i></div>
                </div>
              </div>
              <div class="user flex">
                <div class="edit-at-user"><i class="pi pi-at"></i></div>
                <div class="username">{{ user.username | truncateWords: 15 }}</div>
              </div>
            </div>

            <!--última mensagem enviada-->
            <div style="font-size: 12px;">{{ getPreviewWithSender(user) || 'Sem mensagens' | truncateWords: 15 }}</div>
          </td>

          <!--nº de mensagens não lidas-->
          <td class="w-1">
            <div *ngIf="user.unreadCount && user.unreadCount > 0" class="ml-2">
              <span class="number-notifications">{{ user.unreadCount }}</span>
            </div>
          </td>

          <!--para excluir/deletar chat-->
          <td class="w-1">
            <div>
              <i class="pi pi-ellipsis-v cursor-pointer"
                (click)="toggleOptions(user.userId); $event.stopPropagation()"></i>
              <div *ngIf="activeOptionsUserId === user.userId" class="div-btn-delete2">
                <p-button class="delete-chat" (click)="deleteChat(user); $event.stopPropagation()"
                  label="Deletar chat"></p-button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3" class="text-center py-4" style="color: #cacaca; cursor: default;">
            Sem conversas aqui!
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!--ao clicar num usuário, o chat dele abre-->
    <div *ngIf="isExpanded">

      <!--header do chat aberto-->
      <div class="div-chat flex flex-row w-12 gap-2" *ngIf="expandedUser" (click)="goToProfile(expandedUser.userId, expandedUser.username)" style="cursor: pointer;">

        <!--foto do user-->
        <div class="flex align-items-center justify-content-center w-3">
          <img *ngIf="expandedUser" [src]="expandedUser.profile_pic || '/imgs/ai.png'" class="user-image2" />
        </div>

        <!--nome e nome de usuário-->
        <div class=" flex align-items-center w-7">
          <div class="flex flex-column">
            <div class="flex flex-row gap-1">
              <div class="name flex">{{ expandedUser.name | truncateWords: 15 }}</div>

              <!--icon criadora (role 2) ou administradora (role 1)-->
              <div *ngIf="expandedUser.role === 2" class="crown-creator crown3" pTooltip="Criadora"
                tooltipPosition="right">
                <div><i class="pi pi-crown"></i></div>
              </div>
              <div *ngIf="expandedUser.role === 1" class="crown-adm crown3" pTooltip="Administradora"
                tooltipPosition="right">
                <div><i class="pi pi-crown"></i></div>
              </div>
            </div>

            <div class="user flex">
              <div class="edit-at-user"><i class="pi pi-at"></i></div>
              <div class="username">{{ expandedUser.username | truncateWords: 15 }}</div>
            </div>
          </div>
        </div>

        <!--para excluir mensagens de um chat-->
        <div class=" flex align-items-center w-1" (click)="$event.stopPropagation()">
          <i class="pi pi-ellipsis-v cursor-pointer" (click)="toggleChatHeaderOptions(); $event.stopPropagation()"></i>
          <div *ngIf="showChatHeaderOptions" class="div-btn-delete">
            <p-button class="delete-chat" (click)="deleteAllMessages(expandedUser!.userId); $event.stopPropagation()"
              label="Apagar toda a conversa"></p-button>
          </div>
        </div>

        <!--btn para fechar o chat-->
        <div class="flex align-items-center justify-content-center w-1">
          <i class="pi pi-times" (click)="closeDiv(); $event.stopPropagation()"></i>
        </div>
      </div>

      <!--chat-->
      <div class="border-chat px-2 pb-2">

        <!--conversas-->
        <div class="chat">
          <ng-container *ngIf="chatMessages.length > 0; else emptyChat">

            <!--o ngclass vai indentificar e estilizar a mensagem de quem envia e recebe-->
            <div *ngFor="let message of chatMessages"
              [ngClass]="{'message-sent': message.sender_id === loggedInUserId, 'message-received': message.receiver_id === loggedInUserId}"
              class="flex flex-column mb-4">

              <div class="flex gap-2 mb-3"
                [ngClass]="{'message-sent': message.sender_id === loggedInUserId, 'message-received': message.receiver_id === loggedInUserId}">

                <!--btn para excluir uma mensagem-->
                <div *ngIf="message.sender_id === loggedInUserId" class="flex justify-content-end align-items-end">
                  <p-button icon="pi pi-trash" class="trash-bt trash"
                    (click)="handleDeleteMessage(message.id)"></p-button>
                </div>

                <!--verifica se é imagem-->
                <ng-container *ngIf="isImage(message.content); else textContent">
                  <img [src]="message.content" class="max-w-13rem border-round" />
                </ng-container>

                <!--se não for imagem, mostra como texto-->
                <ng-template #textContent>
                  <p class="m-0" [innerHTML]="message.content | linkify | mention | safeHtml" (click)="handleMentionClick($event)"></p>
                </ng-template>
              </div>

              <!--data e hora-->
              <div class="flex"
                [ngClass]="{'message-sent': message.sender_id === loggedInUserId, 'message-received': message.receiver_id === loggedInUserId}">
                <span class="message-time mx-1">{{ message.created_at | date:'HH:mm' }}</span>
                <span class="message-time mx-1">{{ message.created_at | date:'dd/MM/yy' }}</span>
              </div>
            </div>
          </ng-container>

          <!--mensagem de chat vazio-->
          <ng-template #emptyChat>
            <div class="chat-empty-message">Chat vazio</div>
          </ng-template>
        </div>

        <div class="flex flex-row mt-2 gap-2">

          <!--btn plus para enviar imagens-->
          <div class="flex">
            <p-button icon="pi pi-plus" class="plus-bt" (click)="onUploadClickForChat()"></p-button>
          </div>

          <!--input para enviar mensagem-->
          <div class="flex">
            <input type="text" pInputText placeholder="Escrever..." [(ngModel)]="newMessageContent"
              (keyup.enter)="sendMessage()" class="pesquisa" />
          </div>

          <!--btn para enviar mensagem-->
          <div class="flex">
            <p-button icon="pi pi-send" class="send-bt" (click)="sendMessage()"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
