/*corpo do component -------------------------------*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #c2c2c2;
  padding: 20px;
  margin-right: 20px;
}

/*para o título "chat" do component -----------------------------------------------*/
/*linha baixo do título*/
.line {
  height: 1px;
  background-color: #c2c2c2;
  width: 100%;
}

/*título*/
::ng-deep h1 {
  font-weight: 400;
}

/*container do título*/
.container-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*tabela ---------------------------------------------------------------*/
/*altura*/
.table-heigh {
  height: 530px !important;
  cursor: pointer;
}

/*hover das linhas*/
.click:hover {
  background-color: #ff9f9f30 !important;
}

/*para scroll*/
.scrollable-table {
  max-height: 80%;
  overflow-y: auto;
  display: block;
}

/*modificações tabela primeng*/
::ng-deep .p-datatable-tbody>tr {
  background-color: white !important;
  color: #616161 !important;
  border-color: #c2c2c2 !important;
  height: 60px !important;
}

::ng-deep .p-datatable-tbody>tr>td {
  border-color: #c2c2c2 !important;
  padding: 8px !important;
}

::ng-deep .p-datatable-header {
  background-color: white !important;
  border-color: #c2c2c2 !important;
}

/*CHAT -----------------------------------------------------------*/
/*div do header do chat*/
.div-chat {
  background-color: #ff9c9c;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  color: white !important;
}

/*bordas/limitações do chat*/
.border-chat {
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-radius: 0px 0px 5px 5px;
}

/*ondem contém as mensagens*/
.chat {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  height: 410px;
  overflow-y: auto;
}

/*mensagem enviada*/
.message-sent {
  text-align: right !important;
  justify-content: end !important;
}

.message-sent p {
  background-color: #ffb6b650;
  padding: 8px 12px;
  border-radius: 10px;
  display: inline-block;
  max-width: 95%;
  word-break: break-word;
  white-space: pre-wrap;
}

/*mensagem recebida*/
.message-received {
  text-align: left !important;
}

.message-received p {
  background-color: #e0e0e0;
  padding: 8px 12px;
  border-radius: 10px;
  display: inline-block;
  max-width: 95%;
  word-break: break-word;
  white-space: pre-wrap;
}

/*hora e data de cada mensagem*/
.message-time {
  font-size: 0.7em;
  color: #888;
  display: block;
  margin-top: -15px;
}

/*aviso de chat vazio*/
.chat-empty-message {
  text-align: center;
  color: #888;
  padding: 20px;
}

/*BTNS ------------------------------------------------------------------*/
/*btn para enviar mensagem e adicionar imagem*/
::ng-deep .send-bt .p-button,
::ng-deep .plus-bt .p-button {
  background-color: #ff6b6b !important;
  color: white !important;
  border: none !important;
  border-radius: 50% !important;
  height: 40px !important;
  width: 40px !important;
}

/*btn de deletar mensagem*/
::ng-deep .trash-bt .p-button {
  background-color: #ffffff !important;
  color: #a8a8a8 !important;
  font-size: 10px !important;
  border: none !important;
  border-radius: 50% !important;
  height: 30px !important;
  width: 30px !important;
}

/*btn deletar mensagens/chat*/
::ng-deep .delete-chat .p-button {
  font-size: 14px !important;
  color: #dc3545 !important;
  background-color: transparent !important;
  border: none !important;
  width: 100% !important;
  border-radius: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

::ng-deep .delete-chat .p-button:hover {
  background-color: #dc354530 !important;
}

/*fundo dos btns*/
.div-btn-delete {
  position: absolute;
  right: 75px;
  top: 135px;
  z-index: 5;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-top: 2px solid #ec7171 !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 14rem;
}

.div-btn-delete2 {
  position: absolute;
  right: 10px;
  z-index: 5;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-top: 2px solid #ec7171 !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  width: 8rem;
}

/*btns confirmação de cancelar/exluir mensagem*/
::ng-deep .my-delete-button {
  background-color: #dc3545 !important;
  color: white !important;
  border: none !important;
  width: 100px !important;
  font-size: 14px !important;
}

::ng-deep .my-delete-button:hover {
  background-color: #a72734 !important;
}


::ng-deep .my-cancel-button {
  background-color: #d4d4d4 !important;
  color: rgb(90, 90, 90) !important;
  border: none !important;
  width: 100px !important;
  font-size: 14px !important;
}

::ng-deep .my-cancel-button:hover {
  background-color: #b8b8b8 !important;
}

/*usuário -------------------------------------------------------------*/
/*foto do usuário*/
.user-image {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 5px;
}

.user-image2 {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 5px;
}

/*nome do usuário*/
.name {
  color: white;
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap !important;
}

.name2 {
  color: rgb(104, 104, 104);
  font-weight: 500;
  font-size: 16px;
}

/*username do usuário*/
.username {
  color: rgb(173, 69, 69);
  font-size: 12px;
  font-weight: 500;
}

/*primeng icons modificações -----------------------------------------------*/
::ng-deep .edit-at-user .pi-at:before {
  font-size: 10px !important;
  position: relative !important;
  top: 0px !important;
  margin-right: 1.5px !important;
  color: rgb(173, 69, 69) !important;
}

::ng-deep .trash .pi-trash:before {
  font-size: 14px !important;
  color: #c2c2c2 !important;
}

::ng-deep .trash:hover .pi-trash:before {
  color: #ff6b6b !important;
}

::ng-deep .pi-times:hover {
  color: #ff6b6b !important;
}

/*SCROLLBAR--------------------------------*/
::-webkit-scrollbar {
  width: 16px;
  background-color: rgb(224, 224, 224);
  border-bottom: 6px solid #ffffff;
  border-left: 8px solid #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #ffb6b6;
  border-top: 6px solid #ffffff;
  border-bottom: 0px;
  border-left: 8px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}

/*btns do modal de sair da app (cancelar/sair) ---------------------------------*/
::ng-deep .my-confirm-button {
  background-color: #dc3545 !important;
  color: white !important;
  border: none !important;
  width: 100px !important;
  font-size: 14px !important;
}

::ng-deep .my-confirm-button:hover {
  background-color: #a72734 !important;
}
