<div class="mx-2 my-2">

  <form [formGroup]="formGroup" class="mb-3">

    <div class="mb-3 mt-2">
      <input type="text" pInputText placeholder="Título da postagem*" formControlName="title" maxlength="60" class="tt mt-4"/>
      <p-message *ngIf="formGroup.controls.title.invalid && formGroup.controls.title.touched" severity="error" size="small" variant="simple" text="Título é obrigatório."></p-message>
    </div>

    <p-editor formControlName="text" placeholder="Digite algo...*" autoGrow="true" class="flex flex-column mb-2">
      <ng-template #header>
        <span class="ql-formats">
          <button type="button" class="ql-bold bt-e" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button type="button" class="ql-underline" aria-label="Underline"></button>
          <button type="button" class="ql-strike" aria-label="Strike"></button>
          <button type="button" class="ql-blockquote" aria-label="Blockquote"></button>
          <button type="button" class="ql-image" aria-label="Image"></button>
          <select class="ql-color">
            <option value="#000000" selected></option>
            <option value="#ff2424"></option>
            <option value="#ff8a00"></option>
            <option value="#f4ed1f"></option>
            <option value="#00cf35"></option>
            <option value="#0091ff"></option>
            <option value="#ff9d9d"></option>
            <option value="#984ef4"></option>
          </select>
          <select class="ql-background">
            <option value="#00000050"></option>
            <option value="#ffffff" selected></option>
            <option value="#ff242450"></option>
            <option value="#ff8a0050"></option>
            <option value="#f4ed1f50"></option>
            <option value="#00cf3550"></option>
            <option value="#0091ff50"></option>
            <option value="#ff9d9d50"></option>
            <option value="#984ef450"></option>
          </select>
          <button type="button" class="ql-clean" aria-label="Clean"></button>
        </span>
      </ng-template>
    </p-editor>
    <div style="cursor: default;"><p-message size="small">Limite das imagens: 512x512</p-message></div>

    <div class="mt-2">
      <p-message *ngIf="formGroup.controls.text.invalid && formGroup.controls.text.touched" severity="error" size="small" variant="simple" text="Conteúdo é obrigatório."></p-message>
    </div>

    <div class="my-3">
      <p-select [options]="comunities" formControlName="community" appendTo="body" optionLabel="name" placeholder="Selecionar comunidade*" class="w-full md:w-56 my-2" />
      <p-message *ngIf="formGroup.controls.community.invalid && formGroup.controls.community.touched" severity="error" size="small" variant="simple" text="Selecione uma comunidade."></p-message>
    </div>

  </form>

  <div class="tags-container">

    <div class="flex flex-row w-full mb-2">
      <div class="w-4 ml-2">
        <input maxlength="30" class="tags" type="text" pInputText placeholder="Adicione uma tag..." [(ngModel)]="newTag" (keydown.enter)="addTag($event)" />
      </div>
      <div>
        <p-button class="bt-tags small-icon" (click)="addTag($event)" [disabled]="tags.length >= 20">
          <i class="pi pi-plus"></i>
        </p-button>
      </div>
    </div>

    <div class="tags-list">
      <p-tag *ngFor="let tag of tags" class="mb-2 ml-2" [value]="'#' + tag" icon="pi pi-times" (click)="removeTag(tag)"></p-tag>
    </div>
  </div>
</div>
