<!--COMPONENTE VAI EXIBIR PERFIL+INFOS+POSTAGENS DE USER LOGADO-->

<div class="container">
  <div class="line-fy"></div>
  <div class="mt-2">
    <app-left-side class="sidebar left"></app-left-side>

    <p-toast />
    <p-confirmdialog />
    <p-button class="btn-create-post" icon="pi pi-pencil" (click)="openCreatePostModal()" type="button"></p-button>

    <div class="content px-4">
      <app-profile-user #profileUser (openFollowingModal)="onOpenFollowingModal()" (openFollowersModal)="onOpenFollowersModal()"></app-profile-user>

      <div class="mt-3 mb-3">
        <div class="flex flex-row w-full mt-3 gap-1">
          <p-button [ngClass]="activeTab === 'mp' ? 'bt1' : 'bt2'" label="Meus posts" (click)="setActiveTab('mp')" class="w-3"></p-button>
          <p-button [ngClass]="activeTab === 'mf' ? 'bt1' : 'bt2'" label="Meus favoritos" (click)="setActiveTab('mf')" class="w-3"></p-button>
          <p-button [ngClass]="activeTab === 'ms' ? 'bt1' : 'bt2'" label="Meus salvos" (click)="setActiveTab('ms')" class="w-3"></p-button>
          <p-button [ngClass]="activeTab === 'mr' ? 'bt1' : 'bt2'" label="Meus rascunhos" (click)="setActiveTab('mr')" class="w-3"></p-button>
        </div>
      </div>

      <!--mostra componente com base no botão clicado-->
      <app-posts-user *ngIf="activeTab === 'mp'" (editPostFromUser)="handleEditPost($event)" (deletePostFromUser)="handleDeletePost($event)"></app-posts-user><!--posts do user-->
      <app-posts-liked *ngIf="activeTab === 'mf'"></app-posts-liked><!--posts curtidos pelo user-->
      <app-posts-saved *ngIf="activeTab === 'ms'"></app-posts-saved><!--posts salvos pelo user-->
      <app-posts-drafts *ngIf="activeTab === 'mr'" (editPostFromUser)="handleEditPost($event)" (deletePostFromUser)="handleDeletePost($event)"></app-posts-drafts><!--rascunhos do user-->

    </div>
    <app-right-side class="sidebar right"></app-right-side>
  </div>
</div>

<!--modal de criação de post-->
<p-dialog [(visible)]="showCreatePostModal" modal [header]="''" [closable]="false" [style]="{width: '50vw'}">
  <app-create-post></app-create-post>

  <ng-template pTemplate="footer" class="mt-2">
    <p-button label="Cancelar" class="bt-post2" (click)="closeCreatePostModal()"></p-button>
    <p-button label="Rascunho" class="bt-post2" (click)="saveDraft()"></p-button>
    <p-button label="Postar" class="bt-post" (click)="createPost()" pRipple></p-button>
  </ng-template>
</p-dialog>

<!--modais de seguindo/seguidores-->
<p-dialog [(visible)]="showFollowingModal" modal header="Seguindo" [style]="{width: '43.5vw'}" (onHide)="onCloseFollowingModal()">
  <ng-container *ngIf="!resetFollowingComponent">
    <app-following-user #followingUser></app-following-user>
  </ng-container>
</p-dialog>

<p-dialog [(visible)]="showFollowersModal" modal header="Seguidores" [style]="{width: '43.5vw'}" (onHide)="onCloseFollowersModal()">
  <ng-container *ngIf="!resetFollowersComponent">
    <app-followers-user #followersUser></app-followers-user>
  </ng-container>  
</p-dialog>