<!--menu no topo-->
<app-menu-bar></app-menu-bar>

<div class="border-page flex align-content-center justify-content-center">
  <div class="align-content-center justify-content-center card py-8 my-5">

    <!--título-->
    <div class="flex flex-column mx-8 mb-5">
      <h1 class="mt-0 mb-2">Alteração de palavra-passe</h1>
      <div class="line"></div>
    </div>

    <!--steps-->
    <div class="mt-5">
      <p-steps [model]="items" [readonly]="true" [activeIndex]="activeStep" />
    </div>

    <!--caso o link seja inválido-->
    <div *ngIf="!isLoading && !isTokenValid" class="px-8 text-center mb-4">
      <p-message variant="simple" class="message-email" size="large">Link de redefinição de senha inválido ou expirado. Por favor, solicite um novo.</p-message>

      <!--btn voltar ao login-->
      <div class="mt-4">
        <p-button label="Voltar para o Login" class="bt-send" (click)="navigateToLogin()"></p-button>
      </div>
    </div>

    <!--step 1: form para att da palavra-passe-->
    <div [hidden]="activeStep !== 0 || !isTokenValid" class="px-8">
      <form (ngSubmit)="updatePassword()">
        <div class="mb-3">

          <!--input nova palavra passe-->
          <p-iconfield class="mb-2">
            <p-inputicon styleClass="pi pi-lock"></p-inputicon>
            <input [(ngModel)]="password" (ngModelChange)="validatePassword()" name="password" [type]="isPasswordVisible ? 'text' : 'password'" pInputText placeholder="Nova palavra-passe" class="w-full" required />
            <p-inputicon (click)="togglePasswordVisibility()" [styleClass]="isPasswordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'" style="cursor: pointer"></p-inputicon>
          </p-iconfield>
          <!--mensgaem de erro-->
          <p-message *ngIf="passwordError" severity="error" variant="simple" size="small" text="Mínimo 8 caracteres"></p-message>
        </div>

        <!--input confirmação nova palvra-passe-->
        <p-iconfield class="mb-2">
          <p-inputicon styleClass="pi pi-lock"></p-inputicon>
          <input [(ngModel)]="confirmPassword" (ngModelChange)="validateConfirmPassword()" name="confirmPassword" [type]="isConfirmPasswordVisible ? 'text' : 'password'" pInputText placeholder="Confirme a nova palavra-passe" class="w-full" required />
          <p-inputicon (click)="toggleConfirmPasswordVisibility()" [styleClass]="isConfirmPasswordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'" style="cursor: pointer"></p-inputicon>
        </p-iconfield>
        <!--mensagem de erro-->
        <p-message *ngIf="confirmPasswordError" severity="error" variant="simple" size="small" text="Palavra-passes não correspondem"></p-message>

        <!--btns cancelar/atualizar-->
        <div class="mt-4 flex w-12 justify-content-end gap-2">
          <p-button label="Cancelar" class="bt2 flex w-6" (click)="navigateToLogin()"></p-button>
          <p-button class="bt-send flex w-6" label="Atualizar" type="submit" [disabled]="passwordError || confirmPasswordError || !password || !confirmPassword"></p-button>
        </div>
      </form>
    </div>

    <!--step 2: palavra-passe atualizada com sucesso-->
    <div [hidden]="activeStep !== 1" class="px-8 text-center">
      <p-message variant="simple" class="message-email" size="large">Senha atualizada com sucesso!</p-message>

      <!--btn voltar ao login-->
      <div class="mt-4">
        <p-button label="Voltar para o login" class="bt-send" (click)="navigateToLogin()"></p-button>
      </div>
    </div>

  </div>
</div>

<!--footer da app-->
<app-footer></app-footer>
