.container {
  display: flex;
  width: 100%;
  position: relative;
}

.line-fy {
  height: 10px;
  background-color: #ff9d9d;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/*sidebars fixos*/
.sidebar {
  width: 320px;
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #ffffff;
  border-top: 10px solid #ff9d9d;
  z-index: 100;
}

.left {
  left: 0;
}

/*conteúdo central*/
.content {
  flex: 1;
  margin-left: 320px !important;
  margin-right: 0px;
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
}

