<!--COMPONENTE DE PERFIL DE OUTROS USUÁRIO NA APP-->

<div class="w-12 pt-2 line pb-2">

  <!--foto e capa-->
  <img [src]="user?.cover_pic || '/imgs/ai2.png'" class="cover-image">
  <img [src]="user?.profile_pic || '/imgs/ai.png'" class="icon-image">

  <!--nome, btn seguir, menu-->
  <div class="flex flex-row align-items-center mt-5 ml-3 gap-3">
    <div class="flex flex-row gap-2 w-9">
      <div class="flex align-items-center justify-content-center user">{{ user?.name }}</div>
      
      <!--icon criadora (role 2) ou administradora (role 1)-->
      <div *ngIf="user?.role === 2" class="crown-creator crown1" pTooltip="Criadora" tooltipPosition="right">
        <div><i class="pi pi-crown"></i></div>
      </div>
      <div *ngIf="user?.role === 1" class="crown-adm crown2" pTooltip="Administradora" tooltipPosition="right">
        <div><i class="pi pi-crown"></i></div>
      </div>
      <div>
        <app-follow-button *ngIf="user" [targetUserId]="user.id"></app-follow-button>
      </div>
    </div>
    <div class="flex flex-row gap-2">
      <div>
        <ng-container *ngIf="!isBlocked">
          <!--copiar link de perfil-->
          <p-button icon="pi pi-share-alt" class="icon-action share bt-sharee" (click)="copyProfileLink()" />
        </ng-container>
        <ng-container *ngIf="!isBlocked">
          <!--btn para iniciar chat-->
          <p-button icon="pi pi-comment" class="icon-action envelope bt-envelope" (click)="startChat()" />
        </ng-container>
      </div>
      <div>
        <p-toast />
        <p-confirmDialog></p-confirmDialog>
        <p-menu #menuRef [model]="items" class="menu-pontos" [popup]="true" *ngIf="items?.length"></p-menu>
        <p-button (click)="toggleMenu($event)" class="menu-contt" icon="pi pi-ellipsis-v" />
      </div>
    </div>
  </div>

  <!--user e data de criação da conta-->
  <div class="flex flex-row ml-3 mt-2">
    <div class="flex align-items-center justify-content-center edit-at"><i class="pi pi-at"></i></div>
    <div class="flex align-items-center justify-content-center info">{{ user?.username }}</div>
    <div class="flex align-items-center justify-content-center edit-cicle"><i class="pi pi-circle-fill"></i></div>
    <div class="flex align-items-center justify-content-center info">{{ user?.memberSince }}</div>
  </div>

  <!--seguindo/seguidores-->
  <ng-container *ngIf="!isBlocked">
    <div class="flex flex-row ml-3 mt-1">
      <div class="flex" (click)="abrirFollowing()">
        <div class="align-items-center justify-content-center number mr-1">{{ user?.followingCount }}</div>
        <div class="align-items-center justify-content-center info mr-3">Seguindo</div>
      </div>
      <div class="flex" (click)="abrirFollowers()">
        <div class="align-items-center justify-content-center number mr-1">{{ user?.followersCount }}</div>
        <div class="align-items-center justify-content-center info">Seguidores</div>
      </div>
    </div>
  </ng-container>

  <!--bio-->
  <div class="ml-3 mt-2 bio">{{ user?.bio }}</div>

</div>

<p-dialog [(visible)]="showUserReportModal" modal [header]="'Denunciar usuário'" [closable]="false"
  [style]="{ width: '50vw' }">
  <app-reporting-user [user]="user"></app-reporting-user> <ng-template pTemplate="footer">
    <p-button label="Cancelar" class="bt-post2" (click)="closeUserReportingModal()"></p-button>
    <p-button label="Enviar" class="bt-post" pRipple (click)="submitUserReportForm()"
      [disabled]="!isUserReportFormValid()"></p-button>
  </ng-template>
</p-dialog>