<!--COMPONENTE DE REGISTRO/CADASTRO DE USUÁRIO-->

<!--Menu do topo-->
<app-menu-bar></app-menu-bar>

<div class="border-page flex align-content-center justify-content-center">
  <div class="align-content-center justify-content-center card pt-8 my-5">

    <!--título-->
    <div class="flex flex-column mx-8 mb-5" style="cursor: default;">
      <h1 class="mt-0 mb-2">Cadastrar-se</h1>
      <div class="line"></div>
    </div>

    <p-toast></p-toast>

    <!--steps-->
    <p-steps [model]="items" [readonly]="true" [activeIndex]="activeStep" />

    <!--step 1: form de cadastro-->
    <app-form-signin [hidden]="activeStep !== 0" #formSignin (formValid)="handleFormValidity($event)" (formDataReady)="receiveFormData($event)"></app-form-signin>

    <!--step 2: verificação de email + cadastro-->
    <app-confirmation-email [hidden]="activeStep !== 1" #verificationEmail [email]="userEmailToVerify" (submitVerification)="onSubmitVerification($event)" (goBack)="goToPreviousStep()" (resendCode)="resendVerificationEmail()">
    </app-confirmation-email>

    <!--btn próximo-->
    <div class="flex w-12 mt-5 justify-content-center px-8">
      <p-button class="flex w-6" *ngIf="activeStep === 0" label="Próximo" [disabled]="!isStepValid" (onClick)="goToNextStep()" />
    </div>

    <!--btn para ir ao login-->
    <div class="mt-4 pb-6">
      <p-button class="btn-login flex justify-content-center" label="Já possui uma conta? Faça log-in!"(onClick)="navigateToLogin()"></p-button>
    </div>
  </div>
</div>

<!--fotter da app-->
<app-footer></app-footer>