/*corpo da pániga*/
::ng-deep body {
  background-image: url('/imgs/fundo2.png');
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.border-page {
  border-left: 25px solid #ff6b6b;
  border-right: 15px solid #ff6b6b;
}

/*itens para o titulo*/
.line {
  background-color: #ff6b6b;
  width: 130px;
  height: 3px;
}

h1 {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  color: #3e3e3e;
}

/*card onde contem o form*/
.card {
 background-color: white;
 border: 2px solid #FF9D9D;
 width: 600px;
 min-height: 100% !important;
 border-radius: 50px;
}

/*primeng pass*/
::ng-deep .p-password {
  background-color: white !important;
  border: none !important;
  width: 100% !important;
  color: #616161 !important;
}

/*BOTÕES primeneg ----------------------------*/
/*btn para ir ao login*/
::ng-deep .btn-login .p-button {
  color: #a7a7a7 !important;
  font-size: small !important;
  background-color: white !important;
  width: 45% !important;
  border: none !important;
}

::ng-deep .btn-login .p-button:hover {
  color: #868686 !important;
  text-decoration: underline !important;
  background-color: white !important;
  transform: none !important;
}

/*modificação dos steps do primng*/
::ng-deep .p-steps-item-active .p-steps-item-label {
  display: none !important;
}

::ng-deep .p-steps-item-label {
 color:white !important;
}

::ng-deep .p-steps-list {
    padding: 0;
    margin: 0;
    margin-left: -110px;
    margin-right: -100px;
}

::ng-deep .p-steps-item:before {
    border-color: #ff9e9e !important;
}

::ng-deep .p-steps-item-active .p-steps-item-number {
    background: #ff9e9e !important;
    border-color: #ff9e9e !important;
    color: white !important;
}

::ng-deep .p-steps-item-number {
    color: #ff9e9e !important;
    border: 2px solid #ff9e9e !important;
    background: white !important;
}
