<div class="pt-2 px-4">
  <form [formGroup]="formGroup">

    <!--capa e foto-->
    <div class="image-wrapper w-full" (click)="onUploadClick('cover')">
      <img [src]="user?.cover_pic || 'https://imgur.com/r2KBLZG.png'" class="product-image">
      <div class="overlay">
        <div class="flex flex-column justify-content-center align-items-center" style="color: white">
          <i class="pi pi-camera"></i>
          150x570
        </div>
      </div>
    </div>

    <div class="image-wrapper" (click)="onUploadClick('profile')">
      <img [src]="user?.profile_pic || 'https://imgur.com/07ivMbo.jpg'" class="product-image2">
      <div class="overlay2">
        <div class="flex flex-column justify-content-center align-items-center" style="font-size: 12px; color: white">
          <i class="pi pi-camera"></i>
          80x80
        </div>
      </div>
    </div>

    <div class="flex flex-row w-full justify-content-end mb-5 -mt-8">
      <div class="flex gap-2">
        <p-button class="remove-img" label="Remover icon" severity="danger" size="small"
          (click)="removeImage('profile')" />
        <p-button class="remove-img" label="Remover capa" severity="danger" size="small"
          (click)="removeImage('cover')" />

      </div>
    </div>

    <!--nome, user e bio-->
    <div class="flex flex-row w-full align-items-start gap-2">
      <div class="w-6">
        <p-iconfield class="mb-2">
          <p-inputicon styleClass="pi pi-user"></p-inputicon>
          <input type="text" pInputText formControlName="name" [placeholder]="'Nome'" [value]="user?.name"
            maxlength="25" />
        </p-iconfield>
        <p-message *ngIf="nameLengthError" severity="error" variant="simple" size="small">Mínimo 3
          caracteres.</p-message>
        <p-message *ngIf="formGroup.get('name')?.errors?.['required'] && formGroup.get('name')?.touched"
          severity="error" variant="simple" size="small">Nome é obrigatório.</p-message>
      </div>
      <div class="w-6">
        <p-iconfield class="mb-2">
          <p-inputicon styleClass="pi pi-at"></p-inputicon>
          <input maxlength="15" type="text" pInputText formControlName="username" [placeholder]="'Usuário'" />
        </p-iconfield>
        <p-message *ngIf="usernameFormatError" severity="error" variant="simple" size="small">Apenas Aa-Zz, 0-9, ponto
          e underscore.</p-message>
        <p-message *ngIf="usernameSpaceError" severity="error" variant="simple" size="small">Não pode conter
          espaços.</p-message>
        <p-message *ngIf="usernameLengthError" severity="error" variant="simple" size="small">Mínimo 3
          caracteres.</p-message>
        <p-message *ngIf="usernameAlreadyUsed" severity="error" variant="simple" size="small">Usuário já em
          uso.</p-message>
        <p-message *ngIf="formGroup.get('username')?.errors?.['required'] && formGroup.get('username')?.touched"
          severity="error" variant="simple" size="small">Usuário é obrigatório.</p-message>
      </div>
    </div>

    <textarea pInputText class="mt-3" pTextarea formControlName="bio" [placeholder]="'Insira uma bio...'" rows="4"
      [value]="user?.bio" maxlength="160">
    </textarea>
  </form>
</div>