/*formatação do corpo da página -------------------*/
::ng-deep body {
  background-image: url('/imgs/fundo2.png');
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.border-page {
  border-left: 25px solid #ff6b6b;
  border-right: 15px solid #ff6b6b;
}

/*itens para o titulo --------------------*/
.line {
  background-color: #ff6b6b;
  width: 130px;
  height: 3px;
}

h1 {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  color: #3e3e3e;
}

/*card onde contem o form -----------------------*/
.card {
 background-color: white;
 border: 2px solid #FF9D9D;
 width: 600px;
 min-height: 100% !important;
 border-radius: 50px;
}

/*primeng pass*/
::ng-deep .p-password {
  background-color: white !important;
  border: none !important;
  width: 100% !important;
  color: #616161 !important;
}

/*BOTÕES CADASTRO/LOGIN primeneg*/
::ng-deep .p-button {
  width: 100% !important;
}

::ng-deep .bt2 .p-button {
  width: 100% !important;
  color: #616161 !important;
  background-color: #e2e2e2 !important;
}

::ng-deep .bt2 .p-button:hover {
  transform: scale(1.02) !important;
  color: #3b3b3b !important;
  background-color: #c9c9c9 !important;
}

::ng-deep .p-button {
  color: white !important;
  background-color: #FF6B6B !important;
  border: none !important;
  border-radius: 50px !important;
  font-family: "Lexend", sans-serif !important;
  font-size: 13px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  height: 40px;
}

::ng-deep .p-button:hover {
  background-color: #F94C4C !important;
  font-weight: 700 !important;
  transform: scale(1.02) !important;
}

.title-step {
  border-left: 2px solid #FF6B6B;
  font-weight: 500;
  font-size: 20px;
  padding-left: 10px;
}

/*termos condições ------------------------------------------*/

.tc {
  font-size: 12.5px;
  color: #888888;
  cursor: pointer;
}

.tc:hover {
  color: #adadad;
}

/*checkbox -------------------------------------------*/

.custom-checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 20px; 
  width: 20px; 
  background-color: #eee;
  border: 1px solid #ff7d7d;
  border-radius: 5px;
  display: inline-block;
  flex-shrink: 0;
}

.custom-checkbox-container input[type="checkbox"]:checked ~ .checkmark {
  background-color: #ff7d7d;
  border-color: #ff7d7d;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox-container input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*scrollbar ------------------------------*/
::ng-deep ::-webkit-scrollbar {
  width: 16px;
  background-color: rgb(224, 224, 224);
  border-bottom: 6px solid white;
  border-left: 8px solid white;
}

::ng-deep ::-webkit-scrollbar-thumb {
  background-color: #ffb6b6;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 8px solid white;
}

::ng-deep ::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}
