<div class="container px-6">

  <!--header componente notificações-->
  <div class="flex flex-row my-2 h-tag h-2rem align-content-center align-items-center">
    <div class="flex mr-2 w-6">Lista de usuárias</div>
  </div>

  <!--pesquisa-->
  <div class="line my-3 pt-3">
    <p-iconfield iconPosition="left" class="ml-auto">
      <p-inputicon><i class="pi pi-search"></i></p-inputicon>
      <input pInputText type="text" placeholder="Pesquisar..." (input)="onSearch($event)" class="pesquisa" />
    </p-iconfield>
  </div>

  <div class="table-container">
    <div *ngIf="isLoading" class="loader-overlay">
      <div class="spinner"></div>
    </div>


    <!--tabela exibição users-->
    <table class="mt-2 w-full" *ngIf="!isLoading">
      <thead>
        <tr>
          <th style="width: 6%;">Ver</th>
          <th>Usuário</th>
          <th>Nome</th>
          <th>Registro</th>
          <th>E-mail</th>
          <th>Cargo</th>
          <th style="width: 10%;">Denúncias</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" style="cursor: pointer;">
          <td (click)="goToProfile(user.id, user.username)" class="dn">
            <i class="pi pi-eye"></i>
          </td>
          <td>{{ user.username }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.created_at | date:'dd-MM-yyyy' }}</td>
          <td>{{ user.email }}</td>
          <td>{{ getRoleName(user.role) }}</td>
          <td class="dn">{{ user.reports_count || 0 }}</td>
        </tr>
      </tbody>
    </table>

    <p-paginator [rows]="limit" [totalRecords]="totalUsers" [first]="first" (onPageChange)="onPageChange($event)">
    </p-paginator>
  </div>
</div>
