.container {
  display: flex;
  width: 100%;
  position: relative;
}

.line-fy {
  height: 10px;
  background-color: #ff9d9d;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.sidebar {
  width: 350px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  border-top: 10px solid #ff9d9d;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.content {
  flex: 1;
  margin: 0 350px;
  background-color: rgb(255, 255, 255);
}

::ng-deep .bt3 .p-button {
  color: white !important;
  background-color: #FF6B6B !important;
  border: none !important;
  border-radius: 50px !important;
  font-size: 13px !important;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 590px;
  left: 908px;
  font-size: 16px;
  font-weight: 600;
  z-index: 1000;
}

::ng-deep .bt3 .p-button:hover {
  background-color: #F94C4C !important;
  font-weight: 700 !important;
  transform: scale(1.02) !important;
}

::ng-deep .bt-post .p-button {
  width: 100px !important;
  font-size: 14px !important;
  background-color: #FF6B6B !important;
  color: white !important;
  border: none !important;
}

::ng-deep .bt-post .p-button:not(:disabled):hover {
  background-color: #F94C4C !important;
}

::ng-deep .bt-post2 .p-button {
  width: 100px !important;
  font-size: 14px !important;
  border: none !important;
  background-color: #c2c2c2 !important;
  color: #3b3b3b !important;
}

::ng-deep .bt-post2 .p-button:not(:disabled):hover {
  background-color: #aaaaaa !important;
}

::ng-deep .p-toast-message-icon {
  position: relative;
  top: 3px;
}

::ng-deep .bt1 .p-button {
  color: white !important;
  background-color: #FF6B6B !important;
  border: none !important;
  border-radius: 0px !important;
  font-family: "Lexend", sans-serif !important;
  font-size: 13px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  height: 40px;
  width: 8rem;
  width: 100% !important;
}

::ng-deep .bt1 .p-button:hover {
  background-color: #F94C4C !important;
  font-weight: 700 !important;
}

::ng-deep .bt2 .p-button {
  border-radius: 0px !important;
  width: 100% !important;
  color: #616161 !important;
  background-color: #ebebeb !important;
  height: 40px;
  border: none !important;
  font-family: "Lexend", sans-serif !important;
  font-size: 13px !important;
}

::ng-deep .bt2 .p-button:hover {
  color: #3b3b3b !important;
  background-color: #c9c9c9 !important;
}

::ng-deep .bt-com .p-button {
  color: white !important;
  background-color: #FF6B6B !important;
  border: none !important;
  border-radius: 50px !important;
  height: 40px;
  width: 40px;
}

::ng-deep .bt-com .p-button:hover {
  background-color: #F94C4C !important;
  transform: scale(1.02) !important;
}

::ng-deep .bt3 .p-button {
  color: white !important;
  background-color: #FF6B6B !important;
  border: none !important;
  border-radius: 50px !important;
  font-size: 13px !important;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 590px;
  left: 908px;
  font-size: 16px;
  font-weight: 600;
  z-index: 1000;
}

/*btns de cancelar/exluir postagem*/

::ng-deep .my-delete-button {
  background-color: #dc3545 !important;
  color: white !important;
  border: none !important;
  width: 100px !important;
  font-size: 14px !important;
}

::ng-deep .my-delete-button:hover {
  background-color: #a72734 !important;
}


::ng-deep .my-cancel-button {
  background-color: #d4d4d4 !important;
  color: rgb(90, 90, 90) !important;
  border: none !important;
  width: 100px !important;
  font-size: 14px !important;
}

::ng-deep .my-cancel-button:hover {
  background-color: #b8b8b8 !important;
}