.container {
  display: flex;
  width: 100%;
  position: relative;
}

.line-fy {
  height: 10px;
  background-color: #ff9d9d;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.sidebar {
  width: 350px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  border-top: 10px solid #ff9d9d;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.content {
  flex: 1;
  margin: 0 370px;
  background-color: rgb(255, 255, 255);
}

::ng-deep .bt3 .p-button {
  color: white !important;
  background-color: #FF6B6B !important;
  border: none !important;
  border-radius: 50px !important;
  font-size: 13px !important;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 590px;
  left: 908px;
  font-size: 16px;
  font-weight: 600;
  z-index: 1000;
}

::ng-deep .bt3 .p-button:hover {
  background-color: #F94C4C !important;
  font-weight: 700 !important;
  transform: scale(1.02) !important;
}

::ng-deep .bt-post .p-button {
  width: 100px !important;
  font-size: 14px !important;
  background-color: #FF6B6B !important;
  color: white !important;
  border: none !important;
}

::ng-deep .bt-post .p-button:not(:disabled):hover {
  background-color: #F94C4C !important;
}

::ng-deep .bt-post2 .p-button {
  width: 100px !important;
  font-size: 14px !important;
  border: none !important;
  background-color: #c2c2c2 !important;
  color: #3b3b3b !important;
}

::ng-deep .bt-post2 .p-button:not(:disabled):hover {
  background-color: #aaaaaa !important;
}

::ng-deep .p-toast-message-icon {
  position: relative;
  top: 3px;
}

::ng-deep .bt3 .p-button {
  color: white !important;
  background-color: #FF6B6B !important;
  border: none !important;
  border-radius: 50px !important;
  font-size: 13px !important;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 590px;
  left: 908px;
  font-size: 16px;
  font-weight: 600;
  z-index: 1000;
}
