.line {
  border-top: 1px solid #e2e2e2;
}

/*foto do usuário*/
.img-profile {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: 2.5px;
  border: 3px solid #ff6b6b;
}

/*formatação tabela*/
table {
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #dbdbdb;
  padding-top: 12px;
  padding-bottom: 10px;
}

/*usuário e nome do user*/
.user {
  color: #ff9595;
  font-weight: 600;
  font-size: 18px;
}

.nome {
  font-size: 14px;
}

/*btn seguir*/
::ng-deep .bt-follow .p-button {
  font-size: 10px !important;
  width: 65px !important;
  height: 20px !important;
  border-radius: 50px !important;
  padding-left: 3px !important;
  padding-right: 4px !important;
  background-color: rgb(218, 218, 218);
  border: none !important;
  color: rgb(85, 85, 85) !important;
  padding: 0px !important;
  margin: 0px !important;
  padding-right: 1.5px !important;
}

::ng-deep .bt-follow .p-button:not(:disabled):hover {
  background-color: rgb(190, 190, 190) !important;
}

::ng-deep .bt-follow2 .p-button {
  font-size: 10px !important;
  width: 75px !important;
  height: 20px !important;
  border-radius: 50px !important;
  padding-left: 3px !important;
  padding-right: 4px !important;
  background-color: white;
  border: 1px solid #27a243 !important;
  color: #27a243 !important;
  padding: 0px !important;
  margin: 0px !important;
  padding-right: 1.5px !important;
}

::ng-deep .bt-follow2 .p-button:not(:disabled):hover {
  background-color: #27a24330 !important;
}

/*icon do btn de seguir*/
::ng-deep .small .pi {
  font-size: 10px;
  position: relative !important;
  left: 2px !important;
  top: 0px !important;
}

/*click na linha da tabela*/
.click:hover {
  background-color: #ffefef;
  border-radius: 10px 10px 0px 0px;
}