<!--COMPONENTE PARA VISUALIZAÇÃO E ATUALIZAÇÃO DE PALAVRA-PASSE-->

<div class="mt-4">

  <!--view da senha atual-->
  <div class="mt-3 mb-4 py-1 flex align-items-center gap-3 pp-atual">
    <div class="pp1">Palavra-passe atual:</div>
    <div class="pp2">{{ isCurrentPasswordVisible ? user.password : passwordMasked }}</div>
    <i class="pi" [ngClass]="isCurrentPasswordVisible ? 'pi-eye-slash' : 'pi-eye'" style="cursor: pointer"
      (click)="isCurrentPasswordVisible = !isCurrentPasswordVisible"></i>
  </div>

  <!--atualizar palavra-passe-->
  <!--nova palavra-passe -->
  <div class="mb-3">
    <p-iconfield class="mb-2">
      <p-inputicon styleClass="pi pi-lock"></p-inputicon>
      <input [(ngModel)]="password" (ngModelChange)="validatePassword()"
        [type]="isPasswordVisible ? 'text' : 'password'" pInputText placeholder="Nova palavra-passe" class="w-full" />
      <p-inputicon (click)="togglePasswordVisibility()"
        [styleClass]="isPasswordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'" style="cursor: pointer"></p-inputicon>
    </p-iconfield>
    <!--mensagem de erro-->
    <p-message *ngIf="passwordError" severity="error" variant="simple" size="small"
      text="Mínimo 8 caracteres"></p-message>
  </div>

  <!--confirmar nova palavra-passe -->
  <p-iconfield class="mb-2">
    <p-inputicon styleClass="pi pi-lock"></p-inputicon>
    <input [(ngModel)]="confirmPassword" (ngModelChange)="validateConfirmPassword()"
      [type]="isConfirmPasswordVisible ? 'text' : 'password'" pInputText placeholder="Confirme a nova palavra-passe"
      class="w-full" />
    <p-inputicon (click)="toggleConfirmPasswordVisibility()"
      [styleClass]="isConfirmPasswordVisible ? 'pi pi-eye-slash' : 'pi pi-eye'" style="cursor: pointer"></p-inputicon>
  </p-iconfield>
  <!--mensagem de erro-->
  <p-message *ngIf="confirmPasswordError" severity="error" variant="simple" size="small"
    text="Palavra-passes não correspondem"></p-message>

  <!--btn para atualizar palavra-passe-->
  <div class="mt-3 flex justify-content-end gap-2">
    <button pButton label="Cancelar" class="my-cancel-button" (click)="onUpdate.emit()"></button>
    <button pButton label="Atualizar" class="my-att-button" (click)="updatePassword()"
      [disabled]="passwordError || confirmPasswordError"></button>
  </div>
</div>
