.user {
  font-size: 20px;
  font-weight: 600;
}

.info {
  font-size: 12px;
}

.line {
  border-bottom: 1px solid #e2e2e2;
}

.number {
  font-size: 12px;
  font-weight: 600;
  color: black;
}

::ng-deep .edit-at .pi {
  font-size: 11px !important;
  padding-right: 1px !important;
  position: relative;
  top: 1px;
}

::ng-deep .edit-cicle .pi {
  font-size: 4px !important;
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.bio {
  font-size: 12px;
  width: 520px !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.cover-image {
  height: 150px;
  object-fit: cover;
  width: 574px;
}

::ng-deep html,
body {
  overflow-x: hidden;
}

.icon-image {
  border-radius: 100%;
  border: 4px solid #ffffff;
  width: 80px;
  height: 80px;
  object-fit: cover;
  position: absolute;
  top: 146px;
  left: 395px;
}

::ng-deep .bt-follow .p-button {
  font-size: 10px !important;
  width: 65px !important;
  height: 20px !important;
  border-radius: 50px !important;
  padding-left: 3px !important;
  padding-right: 4px !important;
  background-color: rgb(218, 218, 218);
  border: none !important;
  color: rgb(85, 85, 85) !important;
  padding: 0px !important;
  margin: 0px !important;
  padding-right: 1.5px !important;
}

::ng-deep .bt-follow .p-button:not(:disabled):hover {
  background-color: rgb(190, 190, 190) !important;
}

::ng-deep .bt-follow2 .p-button {
  font-size: 10px !important;
  width: 75px !important;
  height: 20px !important;
  border-radius: 50px !important;
  padding-left: 3px !important;
  padding-right: 4px !important;
  background-color: white;
  border: 1px solid #27a243 !important;
  color: #27a243 !important;
  padding: 0px !important;
  margin: 0px !important;
  padding-right: 1.5px !important;
}

::ng-deep .bt-follow2 .p-button:not(:disabled):hover {
  background-color: #27a24330 !important;
}

::ng-deep .small .pi {
  font-size: 10px;
  position: relative !important;
  left: 2px !important;
  top: 0px !important;
}

::ng-deep .menu-cont .p-button {
  background: none !important;
  color: #616161 !important;
  border: none !important;
}

::ng-deep .menu-cont .p-button:not(:disabled):hover {
  background-color: none !important;
  color: #2b2b2b !important;
}
