<!--COMPONENTE PARA VER NOTIFICAÇÕES DE SEGUIDORES-->

<!--pesquisa-->
<div class="mb-2 pt-1">
  <p-iconfield iconPosition="left" class="ml-auto">
    <p-inputicon><i class="pi pi-search"></i></p-inputicon>
    <input pInputText type="text" placeholder="Pesquisar..." class="pesquisa" (input)="onSearch($event)" />
  </p-iconfield>
</div>

<!--tabela para exibição de notificações de seguidores-->
<ng-container *ngIf="notifications.length > 0; else noNotifications">
  <table class="mt-3 w-full mb-6">
    <tbody>
      <tr *ngFor="let n of filteredNotifications" class="click"
        (click)="n.type === 'follow' ? goToUserProfile(n.sender_id, n.username) : goToPost(n.post_id, n.post_title)">

        <!--icon-->
        <td class="w-3rem align-items-start align-content-start">
          <i class="pi pi-user-plus icon-notificação flex justify-content-center"></i>
        </td>

        <td class="flex flex-column">

          <!--título/tipo da notificação-->
          <div class="title-action mb-2">Novo seguidor</div>

          <!--user de quem fez a ação-->
          <div *ngIf="n.username" class="flex flex-row" (click)="handleMentionClick($event)">
            <small>
              <div [innerHTML]="('@' + n.username) | mention"></div>
            </small>
          </div>

          <!--data da notificação-->
          <div class="date mt-2">{{ n.created_at | date:'dd/MM/yyy' }}</div>
        </td>

        <!--deletar notificação-->
        <td class="w-2rem">
          <p-toast />
          <p-button class="delete-comment" icon="pi pi-trash"
            (click)="handleDeleteNotification(n.id); $event.stopPropagation()" type="button">
          </p-button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>

<!--caso não haja notificações aparece menssagem informando-->
<ng-template #noNotifications>
  <div class="no-content flex flex-column justify-content-center align-items-center">
    <p class="flex">Ainda não há notificações!</p>
    <img src="/imgs/i.png" class="flex no-content-img" />
  </div>
</ng-template>
