/*Logo container ------------------ */
.container-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*logo*/
.logo {
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 10;
}

.logo:hover {
  transform: scale(1.02) !important;
}

/*icon @ ----------------------*/
::ng-deep .editt-at .pi {
  font-size: 11px !important;
  position: relative !important;
  top: 2px !important;
  color: #616161 !important;
}

/*linha debaixo da logo*/
.line {
  height: 1px;
  background-color: #c2c2c2;
  width: 100%;
}

/*container da página*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #c2c2c2;
  padding: 20px;
  margin-left: 20px;
  height: screen;
}

/*imagem de perfil do usuário*/
.img-profile {
  border-radius: 100%;
  border: 4px solid #ff6b6b;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.name {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  color: #3e3e3e;
  font-weight: 500;
}

/*username do user*/
.user {
  height: 16px;
  background-color: #e7e7e7;
  color: #616161;
  border-radius: 50px;
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  gap: 2px;
  margin: 0 auto;
  font-weight: 500;
}

/*BTNS ---------------------------------------------------------*/

/*btn ver perfil*/
::ng-deep .navegate-profile .p-button {
  background-color: white !important;
  color: #ff6b6b !important;
  border: 2px solid #ff6b6b !important;
  height: 30px !important;
  border-radius: 50px !important;
}

::ng-deep .navegate-profile .p-button:hover {
  background-color: #ff6b6b38 !important;
}

/*btn sair*/
::ng-deep .btn-sair .p-button {
  background-color: white !important;
  color: #dc3545 !important;
  height: 25px !important;
  font-weight: bold !important;
  width: 55px !important;
  border: none !important;
}

::ng-deep .btn-sair .p-button:hover {
  border-bottom: 2px solid #dc3545 !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-radius: 0px !important;
  transform: scale(1) !important;
}

/*menu do PrimeNG --------------------------------------------*/
::ng-deep .p-menu {
  background-color: white;
  color: #616161 !important;
  border: none !important;
  width: 100% !important;
  border-top: 1px solid #c2c2c2 !important;
  border-bottom: 1px solid #c2c2c2 !important;
  border-radius: 0px !important;
  background-color: white !important;
}

::ng-deep .p-menu-list {
  padding: 0px;
}

::ng-deep .p-menu-item-content .p-menu-item-icon,
::ng-deep .p-menu-item-content .p-menu-item-link {
  color: #616161 !important;
  padding: 6px !important;
}

::ng-deep .p-menu-item-link:hover {
  background-color: #ff6b6b38 !important;
}

::ng-deep .p-menu-item-content:hover .p-menu-item-icon,
::ng-deep .p-menu-item-content:hover .p-menu-item-link {
  color: #ff6b6b !important;
  border-radius: 0px;
}

::ng-deep  .p-menu-item:not(.p-disabled) .p-menu-item-content:hover {
  background-color: white !important;
  color: #ff6b6b !important;
}

::ng-deep .p-menu-item.p-focus .p-menu-item-content {
  color: #ff6b6b !important;
  background-color: #ff6b6b38 !important;
}

/*btns do modal de sair da app (cancelar/sair) ---------------------------------*/
::ng-deep .my-out-button {
  background-color: #dc3545 !important;
  color: white !important;
  border: none !important;
  width: 100px !important;
  font-size: 14px !important;
}

::ng-deep .my-out-button:hover {
  background-color: #a72734 !important;
}

::ng-deep .my-cancel-button {
  background-color: #d4d4d4 !important;
  color: rgb(90, 90, 90) !important;
  border: none !important;
  width: 100px !important;
  font-size: 14px !important;
}

::ng-deep .my-cancel-button:hover {
  background-color: #b8b8b8 !important;
}

/*animação logo*/
.animated-image {
  animation: float 4s ease-in-out infinite, sway 6s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

@keyframes sway {
  0%, 100% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(5px);
  }
}

/*número de notificações ----------------------------*/
.number-notifications {
  color: #ff6b6b;
  background-color: #ff6b6b50;
  padding: 10px;
  max-width: 30px;
  height: 25px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 100px;
  position: fixed;
  top: 397px;
  left: 290px;
}
