<div class="h-screen container">
  <div class="container-logo">
    <img class="logo mb-3" src="/imgs/Heralert.png" height="35" (click)="navigateToFY()">
    <div class="line"></div>
  </div>

  <div class="flex flex-column justify-content-center align-items-center w-full">

    <div class="mt-4 text-center">
      <img [src]="user?.profile_pic || '/imgs/ai.png'" class="img-profile mb-3">

      <p class="pg-1">{{ user?.name }}</p>
    </div>

    <div class="user mt-2 mb-4">
      <div class="editt-at"><i class="pi pi-at"></i></div>
      <span>{{ user?.username }}</span>
    </div>

    <p-button class="bt-pf mb-4" icon="pi pi-eye" label="Ver perfil" (click)="navigateToProfile()"></p-button>

    <div class="w-full">
      <p-menu #menu [model]="items"></p-menu>
    </div>

    <div class="mb-4 mt-5">
      <img src="/imgs/logo_sem_pequena.png" height="75" />
    </div>

    <div>
      <p-toast></p-toast>
      <p-button class="bt-pf1" icon="pi pi-sign-out" label="Sair" (click)="logout()" [outlined]="true"></p-button>
    </div>
  </div>
</div>
