<footer class="p-4 flex justify-content-center">
  <div class="flex flex-column justify-content-center align-items-center">
    
    <!--logo-->
    <div class="flex mt-2"><img src="/imgs/footer-hl.png" height="80"></div>

    <!--email-->
    <div class="flex flex-column justify-content-center align-items-center mt-4 mb-2">
      <div class="email mb-1"><i class="pi pi-envelope"></i> Contate-nos:</div>
      <div class="flex">
        <a href="mailto:heralert.fl@gmail.com" class="email-link" target="_blank">
          heralert.fl<i class="pi pi-at"></i>gmail.com
        </a>
      </div>
    </div>
    
  </div>
</footer>